﻿@using NewsDotNet.WebUI.Areas.Admin.Controllers
@model NewsDotNet.WebUI.Areas.Admin.Models.ArticleViewModel

@{
    ActionType action = ViewBag.Action;
    ViewBag.Title = action == ActionType.NewArticle ? "Новая статья" : "Редактирование статьи";
}

@using (Html.BeginForm(action == ActionType.NewArticle ? "New" : "Edit",
                        "AdminArticles",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal container">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedTime)
        @Html.HiddenFor(model => model.TitleImagePath)

        <div class="form-group">
            <label class="control-label col-md-2">Заголовок</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Адрес</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Изображение</label>
            <div class="col-md-10">
                <input type="file" name="titleImage" accept=".jpg,.png,.jpeg,.gif" />
                @Html.ValidationMessageFor(model => model.TitleImagePath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тело статьи</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Теги</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TagsString, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.TagsString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Состояние</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.State, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Manage", "AdminHome")
</div>

<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script src="~/Content/jquery-tags-input/jquery.tagsinput.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery-tags-input/jquery.tagsinput.min.css" />
<script type="text/javascript">
    var editor = CKEDITOR.instances['Body'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('Body', {
        enterMode: CKEDITOR.ENTER_BR,
    });

    $('#TagsString').tagsInput({ 'width': '100%', 'maxChars': 20, 'defaultText': 'добавить тег' });
</script>