﻿body {
    margin:0;
    padding: 0;
}

input.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.panel{
    cursor: pointer;
}

#tiles li .close{
    float: right;
    visibility:hidden;
  
}

#tiles li:hover .close{
    visibility:visible;
    opacity: 1;
}

.modal ul.pagination{
    margin:0;
}
