﻿body 
{ font-family: "lucida sans", arial, sans-serif; 
  font-size: 9pt;
}

#dialog {
    display:none;
}

table{
    border-collapse: separate;
}

#login-div form
{ width: 500px; 
  margin: 50px auto; }

#login-div form legend
{ font-size: 12pt; }

#login-div form label
{ display: inline-block; width: 100px; }

span.field-validation-error
{ color: red; }

#login-div form input[type="submit"]
{ margin-left: 200px; }

.validation-summary-errors
{ text-align: center; color: red; }

div#tab-articles {
  overflow: auto;
}
