﻿<!DOCTYPE html>

<html>

    <head>
        <title>@ViewBag.Title</title>
        <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Styles/AdminStyles.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/Layout/fav-icon.png" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href=@Url.Action("Manage", "AdminHome")>
                            News.Net Admin
                        </a>
                    </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Manage", "AdminHome")">Статьи и Теги</a></li>
                                <li><a href="@Url.Action("Index", "Issue")">Формирование выпуска</a></li>

                                <li><a href="@Url.Action("Deleted","AdminHome")">Удаленные</a></li>

                            </ul>
                        </div>
                    </div>
                </nav>
        </div>

        <div id="alert-box" role="alert">

        </div>

        <div class="container-fluid">
            @RenderBody()
        </div>
        <br>
    </body>
</html>
