﻿@model IEnumerable<NewsDotNet.WebUI.Models.ArchiveArticles>

@{
    ViewBag.Title = "ArchiveView";
}

<h2>ArchiveVIew</h2>
<div class="wrap">
        <div id="main" role="main">
                <div class="container">
                        <ul class="list-group">
                
                                @foreach(var ArchiveArticles in Model)
                {
                    if (@ArchiveArticles.Date==DateTime.Now.ToShortDateString())
                    { <h1 >Сегодня</h1>}
                    else if(Convert.ToDateTime(@ArchiveArticles.Date) + @ArchiveArticles.tspan==DateTime.Today)
                    { <h1 >Вчера</h1>}
                      else
                    {
                       <h1 >@ArchiveArticles.Date</h1>}
                foreach (var Articles in ArchiveArticles.Articles)
                   {

                    @Html.Partial("ArchiveArticlePartial", Articles)
                   }
                }

            </ul>
        </div>
    </div>

</div>
