﻿@model NewsDotNet.DomainModel.Entities.Article

<li class="list-group-item" onclick="location.href='@Url.Action("Show", "Articles", new { addressName = Model.AddressName })';">
    
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>@Model.Title</h3>
            @foreach (var tag in Model.Tags)
            {
                <span><a href="@Url.Action("ArticlesWithTag", "Articles", new { tagId = tag.ID })"><label> </label>@tag.Name</a></span>
            }
            <p>@Html.Raw(Model.Body.Substring(0, Math.Min(Model.Body.Length, 250)) + "...")</p>
            @{var ruDateFormat = new System.Globalization.CultureInfo("ru-RU");
            <tr>
                <td>Автор:@Model.AuthorId</td>
                <td>Дата написания:@Model.CreatedTime.ToString(ruDateFormat)</td>
                <td>Дата последнего изменения:@Model.LastChangedTime.ToString(ruDateFormat)</td>
            </tr>
            }
        </div>
    </div>
</li>

﻿
