﻿@model NewsDotNet.DomainModel.Entities.Article

@{
    ViewBag.Title = Model.Title + " - News.Net";
}

<div class="wrap">
    <div class="single-page">
        <div class="single-page-artical">
            <div class="artical-content">
                <div class="published">@Model.LastChangedTime.ToString("f", new System.Globalization.CultureInfo("ru-RU"))</div>
                <h3>@Model.Title</h3>
                <img src=@Url.Content(Model.TitleImagePath)>
                <p>@Html.Raw(Model.Body)</p>
            </div>
            <div class="artical-links">
                <ul>
                    <li><a href="#"><img src="~/Content/Images/Layout/blog-icon2.png" title="Автор"><span>Автор</span></a></li>
                    <li><img src="~/Content/Images/Layout/blog-icon4.png" title="Теги">
                        @foreach (var tag in Model.Tags)
                        {
                            <span><a  href="@Url.Action("ArticlesWithTag", "Articles", new { tagId = tag.ID })">@tag.Name</a></span>
                        }
                    </li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
        <br>
        @* INCLUDE DISQUS *@
        @Html.Partial("_Disqus")
    </div>
</div>
