﻿@model IEnumerable<NewsDotNet.DomainModel.Entities.Article>

@{
    ViewBag.Title = "Archive";
   // ViewBag.Title = "ArticlesWithTag";

}
<div class="wrap">
    <div id="main" role="main">
        <div class="container">
            @if (Model.Count() == 0)
            { <div class="alert alert-info">По вашему запросу ничего не найдено</div>}
                        else{<h1>Найдено @Model.Count() : </h1>}
            <ul class="list-group">
                @foreach (var articleInfo in Model)
                {
                    @Html.Partial("ArchiveArticlePartial", articleInfo)
                   
                }
                </ul>
</div>
    
        </div>
    </div>

