﻿
@{
    ViewBag.Title = "News.Net Admin: Управление статьями и тегами";
}

    <h2>Управление статьями и тегами</h2>

    <div id="tabs">
        <ul>
            <li><a href="#tab-articles">Статьи</a></li>
            <li><a href="#tab-tags">Теги</a></li>
        </ul>
        <div id="tab-articles" class="tab">
            <table id="tableArticles" class="grid"></table>
            <div id="pagerArticles" class="pager">
            </div>
        </div>
        <div id="tab-tags" class="tab">
            <table id="tableTags" class="grid"></table>
            <div id="pagerTags" class="pager">
            </div>
        </div>
    </div>

    <div id="dialog" title="Внимание">
        <p>Пожалуйста, выберите статью для редактирования</p>
    </div>

<!-- jquery library -->
<script src="~/Scripts/jqgrid/js/jquery-1.7.2.min.js"></script>
<!-- jquery ui library -->
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<link href="~/Content/Styles/sunny/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
<!-- jqgrid -->
<link href="~/Scripts/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jqgrid/js/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/jqgrid/js/i18n/grid.locale-ru.js"></script>

<link href="~/Content/Styles/Manage.css" rel="stylesheet" />
<script src="~/Scripts/Manage.js"></script>